<div class="card">
    <div class="card-header">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <h3 class="card-title">
                @ViewBag.ControllerName
            </h3>
            <a class="btn btn-success" href="/@ViewBag.ControllerName/Create"><i class="fas fa-plus-square"></i>&nbsp;Create</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="productsTable" class="table table-bordered dataTable dtr-inline table-hover">
                    <thead>
                    <tr>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">SKU</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Short Description</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Retail Price</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Wholesale Price</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">VAT</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">On Sale</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">In Stock</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
      $("#productsTable").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "/JSON/@ViewBag.ControllerName",
                type: "GET"
            },
            columns: [
                    { data: "sku" },
                    { data: "name" },
                    { data: "shortDescription" },
                    { 
                        data: "retailPrice",
                        render: (data, type, row, meta) => 
                        {
                            return `${row.currency.name} ${row.retailPrice}`;
                        }
                    },
                    { 
                        data: "wholesalePrice",
                        render: (data, type, row, meta) => 
                        {
                            return `${row.currency.name} ${row.wholesalePrice}`;
                        }
                    },
                    { 
                        data: "vat",
                        render: (data, type, row, meta) => 
                        {
                            return `${row.vat.value}%`;
                        }
                     },
                    { 
                        data: "onSale",
                        render: (data, type, row, meta) => 
                        {
                            return row.onSale ? `<i class="far fa-check-square fa-lg" style="color: green"></i>` : `<i class="far fa-times-circle fa-lg" style="color: red"></i>`
                        }
                     },
                    { 
                        data: "inStock", 
                        render: (data, type, row, meta) => {
                            return row.inStock ? `<i class="far fa-check-square fa-lg" style="color: green"></i>` : `<i class="far fa-times-circle fa-lg" style="color: red"></i>`
                        }
                    },
                    { 
                        render: (data, type, row, meta) => {
                             return `
                                <div class="d-flex justify-content-center">
                                     <a class="btn btn-danger mr-2" href="/@ViewBag.ControllerName/Delete/${row.productId}"><i class="fas fa-trash"></i>&nbsp;Delete</a>
                                     <a class="btn btn-warning text-white" href="/@ViewBag.ControllerName/Manage/${row.productId}"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                                 </div>`;
                        }
                    }
                ]
            
      });
    });
</script>